# Tidy Data Mess 4 and 5

Today, we will be using the Tidy Data Mess 4 and 5 data to illustrate the method and level of detail we should practice when going through data preprocessing. The rest of the notebook shows the different steps that are appropriate for this dataset. Please review this so it may serve as a guide for your assessments. Be reminded that this notebook only contains the steps that are relevant for this dataset. It is a certainty that other data sets may require other methods of data preprocessing.

# Environment Set-Up

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

# Data Loading

In [2]:
df_mess45 = pd.read_csv('mess45_edited.csv')
df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,9/23/00,11/18/00,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2/12/00,4/8/00,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,10/23/99,1/29/00,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,8/12/00,9/16/00,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,8/5/00,10/14/00,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,8/5/00,8/5/00,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2/12/00,2/12/00,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,9/2/00,9/2/00,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,7/1/00,7/1/00,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,10/28/00,10/28/00,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Describing the dataset

To describe the dataset, we can still use the ___.info()___ or ___.describer()___ commands.

In [3]:
df_mess45.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             317 non-null    int64
 1   artist.inverted  317 non-null    object
 2   track            317 non-null    object
 3   time             317 non-null    object
 4   genre            317 non-null    object
 5   date.entered     317 non-null    object
 6   date.peaked      317 non-null    object
 7   x1st.week        317 non-null    int64
 8   x2nd.week        312 non-null    float64
 9   x3rd.week        307 non-null    float64
 10  x4th.week        300 non-null    float64
 11  x5th.week        292 non-null    float64
 12  x6th.week        280 non-null    float64
 13  x7th.week        269 non-null    float64
 14  x8th.week        260 non-null    float64
 15  x9th.week        253 non-null    float64
 16  x10th.week       244 non-null    float64
 17  x11th.week       236 non-null    float64
 18  x12th.week       222 non-null    float64
 19  x13th.week       210 non-null    float64
 20  x14th.week       204 non-null    float64
 21  x15th.week       197 non-null    float64
 22  x16th.week       182 non-null    float64
 23  x17th.week       177 non-null    float64
 24  x18th.week       166 non-null    float64
 25  x19th.week       156 non-null    float64
 26  x20th.week       146 non-null    float64
 27  x21st.week       65 non-null     float64
 28  x22nd.week       55 non-null     float64
 29  x23rd.week       48 non-null     float64
 30  x24th.week       46 non-null     float64
 31  x25th.week       38 non-null     float64
 32  x26th.week       36 non-null     float64
 33  x27th.week       29 non-null     float64
 34  x28th.week       24 non-null     float64
 35  x29th.week       20 non-null     float64
 36  x30th.week       20 non-null     float64
 37  x31st.week       19 non-null     float64
 38  x32nd.week       18 non-null     float64
 39  x33rd.week       12 non-null     float64
 40  x34th.week       10 non-null     float64
 41  x35th.week       9 non-null      float64
 42  x36th.week       9 non-null      float64
 43  x37th.week       9 non-null      float64
 44  x38th.week       8 non-null      float64
 45  x39th.week       8 non-null      float64
 46  x40th.week       7 non-null      float64
 47  x41st.week       7 non-null      float64
 48  x42nd.week       6 non-null      float64
 49  x43rd.week       6 non-null      float64
 50  x44th.week       6 non-null      float64
 51  x45th.week       5 non-null      float64
 52  x46th.week       5 non-null      float64
 53  x47th.week       5 non-null      float64
 54  x48th.week       4 non-null      float64
 55  x49th.week       4 non-null      float64
 56  x50th.week       4 non-null      float64
 57  x51st.week       4 non-null      float64
 58  x52nd.week       4 non-null      float64
 59  x53rd.week       4 non-null      float64
 60  x54th.week       2 non-null      float64
 61  x55th.week       2 non-null      float64
 62  x56th.week       2 non-null      float64
 63  x57th.week       2 non-null      float64
 64  x58th.week       2 non-null      float64
 65  x59th.week       2 non-null      float64
 66  x60th.week       2 non-null      float64
 67  x61st.week       2 non-null      float64
 68  x62nd.week       2 non-null      float64
 69  x63rd.week       2 non-null      float64
 70  x64th.week       2 non-null      float64
 71  x65th.week       1 non-null      float64
 72  x66th.week       0 non-null      float64
 73  x67th.week       0 non-null      float64
 74  x68th.week       0 non-null      float64
 75  x69th.week       0 non-null      float64
 76  x70th.week       0 non-null      float64
 77  x71st.week       0 non-null      float64
 78  x72nd.week       0 non-null      float64
 79  x73rd.week       0 non-null      float64
 80  x74th.week       0 non-null      float64
 81  x75th.week       0 non-null      float64
 82  x76th.week       0 non-null      float64
dtypes: float64(75), int64(2), object(6)
memory usage: 205.7+ KB

In [4]:
df_mess45.describe()

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Genre Check

Given that this is the only nominal attribute that should have predetermined values, we need to check the data genre attribute for any data cleaning/standardization/processing needs.

In [46]:
df_mess45['genre'].unique()

array(['Rock', 'Latin', 'Country', 'Rap', 'Pop', 'Electronica', 'Jazz',
       'R&B', 'Reggae', 'Gospel'], dtype=object)

Given the above output, genre requires no cleaning.

# Data Preprocessing

Upon reviewing the outputs, we can see the ff. for the indicated columns below:
1. artist.inverted: last names come first - For the purposes of this notebook, let's assume that we need the first names to go first for readability and familiarity
2. time: listed as an object given the comma - The length can be transformed into a more usable format specifically in seconds instead of the current format
3. date.entered and date.peaked - Date formats can be converted into something more machine-readable
4. column names - the column names for the weekly rankings contain a number of unwanted characteristics assuming that we want to use the week number only:
    - There is an "x" at the start of the name of each column
    - Any text after the number is unwanted. There are several combinations of characters.
5. table unpivot/melt - the weekly rankings can be converted into a more tabular format

Other necessary steps may reveal themselves as we go along.

## Column Name Clean-Up
- Remove "x" and the characters afterwards

In [5]:
new_col_list = []
for i in df_mess45.columns:
    if i.startswith("x"):
        i = i.lstrip("x")[:-7]
    new_col_list.append(i)

new_col_list

working_df_mess45 = df_mess45.copy()
working_df_mess45.columns = new_col_list
working_df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1,2,3,...,67,68,69,70,71,72,73,74,75,76
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,9/23/00,11/18/00,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2/12/00,4/8/00,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,10/23/99,1/29/00,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,8/12/00,9/16/00,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,8/5/00,10/14/00,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,8/5/00,8/5/00,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2/12/00,2/12/00,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,9/2/00,9/2/00,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,7/1/00,7/1/00,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,10/28/00,10/28/00,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Datetime datatype conversion
- Convert date.entered and date.peaked into datetime instead of object

In [6]:
for i in ["date.entered", "date.peaked"]:
    working_df_mess45[i] = pd.to_datetime(working_df_mess45[i])

working_df_mess45.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             317 non-null    int64
 1   artist.inverted  317 non-null    object
 2   track            317 non-null    object
 3   time             317 non-null    object
 4   genre            317 non-null    object
 5   date.entered     317 non-null    datetime64[ns]
 6   date.peaked      317 non-null    datetime64[ns]
 7   1                317 non-null    int64
 8   2                312 non-null    float64
 9   3                307 non-null    float64
 10  4                300 non-null    float64
 11  5                292 non-null    float64
 12  6                280 non-null    float64
 13  7                269 non-null    float64
 14  8                260 non-null    float64
 15  9                253 non-null    float64
 16  10               244 non-null    float64
 17  11               236 non-null    float64
 18  12               222 non-null    float64
 19  13               210 non-null    float64
 20  14               204 non-null    float64
 21  15               197 non-null    float64
 22  16               182 non-null    float64
 23  17               177 non-null    float64
 24  18               166 non-null    float64
 25  19               156 non-null    float64
 26  20               146 non-null    float64
 27  21               65 non-null     float64
 28  22               55 non-null     float64
 29  23               48 non-null     float64
 30  24               46 non-null     float64
 31  25               38 non-null     float64
 32  26               36 non-null     float64
 33  27               29 non-null     float64
 34  28               24 non-null     float64
 35  29               20 non-null     float64
 36  30               20 non-null     float64
 37  31               19 non-null     float64
 38  32               18 non-null     float64
 39  33               12 non-null     float64
 40  34               10 non-null     float64
 41  35               9 non-null      float64
 42  36               9 non-null      float64
 43  37               9 non-null      float64
 44  38               8 non-null      float64
 45  39               8 non-null      float64
 46  40               7 non-null      float64
 47  41               7 non-null      float64
 48  42               6 non-null      float64
 49  43               6 non-null      float64
 50  44               6 non-null      float64
 51  45               5 non-null      float64
 52  46               5 non-null      float64
 53  47               5 non-null      float64
 54  48               4 non-null      float64
 55  49               4 non-null      float64
 56  50               4 non-null      float64
 57  51               4 non-null      float64
 58  52               4 non-null      float64
 59  53               4 non-null      float64
 60  54               2 non-null      float64
 61  55               2 non-null      float64
 62  56               2 non-null      float64
 63  57               2 non-null      float64
 64  58               2 non-null      float64
 65  59               2 non-null      float64
 66  60               2 non-null      float64
 67  61               2 non-null      float64
 68  62               2 non-null      float64
 69  63               2 non-null      float64
 70  64               2 non-null      float64
 71  65               1 non-null      float64
 72  66               0 non-null      float64
 73  67               0 non-null      float64
 74  68               0 non-null      float64
 75  69               0 non-null      float64
 76  70               0 non-null      float64
 77  71               0 non-null      float64
 78  72               0 non-null      float64
 79  73               0 non-null      float64
 80  74               0 non-null      float64
 81  75               0 non-null      float64
 82  76               0 non-null      float64
dtypes: datetime64[ns](2), float64(75), int64(2), object(4)
memory usage: 205.7+ KB

/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/368733998.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  working_df_mess45[i] = pd.to_datetime(working_df_mess45[i])
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/368733998.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  working_df_mess45[i] = pd.to_datetime(working_df_mess45[i])

In [7]:
working_df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1,2,3,...,67,68,69,70,71,72,73,74,75,76
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Artist Name Inversion
- inverting the last name, first name format of artist.name
- assumptions:
    - only names with one comma are artist names with the last name, first name format

In [8]:
working_df_mess45['artist.inverted'].apply(lambda x : x.count(",")).value_counts()

artist.inverted
0    183
1    134
Name: count, dtype: int64

In [9]:
working_df_mess45['artist.inverted'] = working_df_mess45['artist.inverted'].apply(lambda x: x.split(",")[1].strip()+" "+x.split(",")[0].strip() if "," in x else x)
working_df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1,2,3,...,67,68,69,70,71,72,73,74,75,76
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,Christina Aguilera,Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,Will Smith,Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,The Eastsidaz,Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Column Melt/Unpivot
- The weekly rankings need to be melted/unpivoted to transform it in a more easily processable tabular format

In [10]:
working_df_mess45.columns

Index(['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered',
       'date.peaked', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47',
       '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71',
       '72', '73', '74', '75', '76'],
      dtype='object')

In [11]:
working_df_mess45 = working_df_mess45.melt(id_vars=['year', 'artist.inverted', 'track', 'time', 'genre', 'date.entered', 'date.peaked']
                       , value_name='rank'
                       , var_name = "week"
                       , value_vars=working_df_mess45.columns[7:]
                       )

working_df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,Christina Aguilera,Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...,...,...
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,76,NaN
24088,2000,Will Smith,Freakin' It,3:58,Rap,2000-02-12,2000-02-12,76,NaN
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,76,NaN
24090,2000,The Eastsidaz,Got Beef,3:58,Rap,2000-07-01,2000-07-01,76,NaN
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,76,NaN

## Dealing with the Null Rankings
Depending on the data mining objective, there can be two ways to deal with null rankings:
- fill it with a particular value
- drop the rows

### Filling with a particular value
The best way to do this is via ___.isna()___ and ___.fillna()___.

In [12]:
working_df_mess45.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24092 entries, 0 to 24091
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             24092 non-null  int64
 1   artist.inverted  24092 non-null  object
 2   track            24092 non-null  object
 3   time             24092 non-null  object
 4   genre            24092 non-null  object
 5   date.entered     24092 non-null  datetime64[ns]
 6   date.peaked      24092 non-null  datetime64[ns]
 7   week             24092 non-null  object
 8   rank             5307 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 1.7+ MB

In [13]:
working_df_mess45.describe()

,year,date.entered,date.peaked,rank
count,24092.0,24092,24092,5307.000000
mean,2000.0,2000-05-03 23:14:34.447949568,2000-06-25 05:08:53.753943296,51.052384
min,2000.0,1999-06-05 00:00:00,2000-01-01 00:00:00,1.000000
25%,2000.0,2000-02-05 00:00:00,2000-03-18 00:00:00,26.000000
50%,2000.0,2000-04-29 00:00:00,2000-06-24 00:00:00,51.000000
75%,2000.0,2000-08-12 00:00:00,2000-09-23 00:00:00,76.000000
max,2000.0,2000-12-30 00:00:00,2000-12-30 00:00:00,100.000000
std,0.0,NaN,NaN,28.966198

In [14]:
working_df_mess45['rank'].isna().value_counts()

rank
True     18785
False     5307
Name: count, dtype: int64

# Dealing with NAs
- Fill NAs with 0 - not part of top 100
- Convert to integer datatype - week and rank
- Drop unnecessary columns

In [15]:
working_df_mess45['rank'] = working_df_mess45['rank'].fillna(0)
working_df_mess45

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,Christina Aguilera,Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...,...,...
24087,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,76,0.0
24088,2000,Will Smith,Freakin' It,3:58,Rap,2000-02-12,2000-02-12,76,0.0
24089,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,76,0.0
24090,2000,The Eastsidaz,Got Beef,3:58,Rap,2000-07-01,2000-07-01,76,0.0
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,76,0.0

### Identify gap week possibility
It is possible that a song will be part of the top 100 for a period of time, drop out for a period of time, and then return. In this case, it is important to determine if there are gap weeks as it could affect the measures/metrics for any potential data mining objectives.

#### Test

In [27]:
i = working_df_mess45['track'].unique()[300]
gap_week_df = pd.DataFrame()

_df_artist = working_df_mess45[working_df_mess45['track']==i].copy()
_df_artist['rank'] = _df_artist['rank'].astype(int)
_df_artist['week'] = _df_artist['week'].astype(int)
_max_week = int(_df_artist[_df_artist['rank']!=0]['week'].max())
_df_artist = _df_artist[_df_artist['week']<=_max_week]
# print(_max_week)
_df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
_df_artist['drop_week'] = _df_artist['week'].apply(lambda x: True if x > _max_week else False)
gap_week_df = pd.concat([gap_week_df, _df_artist])

# gap_week_df[gap_week_df['gap_week']==True]
gap_week_df

/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/2202741065.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
300,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,1,100,False,False
617,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,2,99,False,False
934,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,3,99,False,False
1251,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,4,0,True,False
1568,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,5,0,True,False
1885,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,6,98,False,False
2202,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,7,94,False,False
2519,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,8,92,False,False
2836,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,9,95,False,False
3153,2000,Ty Herndon,No Mercy,4:43,Country,2000-03-18,2000-05-06,10,96,False,False

#### Actual Implementation

In [29]:
gap_week_df = pd.DataFrame()
for i in working_df_mess45['track'].unique():
    _df_artist = working_df_mess45[working_df_mess45['track']==i].copy()
    _df_artist['rank'] = _df_artist['rank'].astype(int)
    _df_artist['week'] = _df_artist['week'].astype(int)
    _max_week = int(_df_artist[_df_artist['rank']!=0]['week'].max())
    # print(_max_week)
    _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
    _df_artist['drop_week'] = _df_artist['week'].apply(lambda x: True if x > _max_week else False)
    gap_week_df = pd.concat([gap_week_df, _df_artist])

gap_week_df

/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)
/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/807674796.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  _df_artist['gap_week'] = _df_artist[['week', 'rank']].apply(lambda x: True if x[0]< _max_week and x[1]==0 else False, axis=1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78,False,False
317,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,2,63,False,False
634,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,3,49,False,False
951,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,4,33,False,False
1268,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,5,23,False,False
...,...,...,...,...,...,...,...,...,...,...,...
22823,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,72,0,False,True
23140,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,73,0,False,True
23457,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,74,0,False,True
23774,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,75,0,False,True
24091,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,76,0,False,True

#### Checking
The cells below show the existence of gap weeks.

In [32]:
gap_week_df[gap_week_df['gap_week']==True]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
6349,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,21,0,True,False
6666,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,22,0,True,False
6983,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,23,0,True,False
7300,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,24,0,True,False
7617,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,25,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...
2203,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,7,0,True,False
2520,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,8,0,True,False
2837,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,9,0,True,False
3154,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,10,0,True,False
3471,2000,Anastacia,I'm Outta Love,4:01,Pop,2000-04-01,2000-04-01,11,0,True,False

In [36]:
gap_week_df[gap_week_df['track']=='Amazed'][:30]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,1,81,False,False
326,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,2,54,False,False
643,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,3,44,False,False
960,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,4,39,False,False
1277,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,5,38,False,False
1594,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,6,33,False,False
1911,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,7,29,False,False
2228,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,8,29,False,False
2545,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,9,32,False,False
2862,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,10,27,False,False
3179,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,11,26,False,False
3496,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,12,24,False,False
3813,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,13,27,False,False
4130,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,14,32,False,False
4447,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,15,33,False,False
4764,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,16,35,False,False
5081,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,17,35,False,False
5398,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,18,40,False,False
5715,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,19,43,False,False
6032,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,20,50,False,False
6349,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,21,0,True,False
6666,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,22,0,True,False
6983,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,23,0,True,False
7300,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,24,0,True,False
7617,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,25,0,True,False
7934,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,26,0,True,False
8251,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,27,0,True,False
8568,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,28,0,True,False
8885,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,29,0,True,False
9202,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,30,45,False,False

In [37]:
gap_week_df[gap_week_df['track']=='Amazed'][60:]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
19029,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,61,42,False,False
19346,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,62,42,False,False
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,63,45,False,False
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,64,50,False,False
20297,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,65,0,False,True
20614,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,66,0,False,True
20931,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,67,0,False,True
21248,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,68,0,False,True
21565,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,69,0,False,True
21882,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,70,0,False,True
22199,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,71,0,False,True
22516,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,72,0,False,True
22833,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,73,0,False,True
23150,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,74,0,False,True
23467,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,75,0,False,True
23784,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,76,0,False,True

### Droping Unnecessary Columns
While we can choose to drop gap weeks as well, we will only drop the weeks after the last ranked week.

In [38]:
drop_df = gap_week_df[gap_week_df['drop_week']==False].drop(columns='drop_week')
drop_df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78,False
317,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,2,63,False
634,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,3,49,False
951,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,4,33,False
1268,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,5,23,False
...,...,...,...,...,...,...,...,...,...,...
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,1,99,False
631,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,2,99,False
315,2000,The Eastsidaz,Got Beef,3:58,Rap,2000-07-01,2000-07-01,1,99,False
632,2000,The Eastsidaz,Got Beef,3:58,Rap,2000-07-01,2000-07-01,2,99,False
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,1,99,False

In [42]:
gap_week_df[gap_week_df['track']=="Amazed"]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week,drop_week
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,1,81,False,False
326,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,2,54,False,False
643,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,3,44,False,False
960,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,4,39,False,False
1277,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,5,38,False,False
...,...,...,...,...,...,...,...,...,...,...,...
22516,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,72,0,False,True
22833,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,73,0,False,True
23150,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,74,0,False,True
23467,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,75,0,False,True
23784,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,76,0,False,True

In [43]:
drop_df[drop_df['track']=="Amazed"]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,1,81,False
326,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,2,54,False
643,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,3,44,False
960,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,4,39,False
1277,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,5,38,False
...,...,...,...,...,...,...,...,...,...,...
18712,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,60,37,False
19029,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,61,42,False
19346,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,62,42,False
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,63,45,False
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,64,50,False

In [45]:
drop_df[drop_df['track']=="Amazed"][drop_df['gap_week']==True]

/var/folders/42/klv0xnk11nj2hh0wkk702nkh0000gn/T/ipykernel_17684/1204033780.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  drop_df[drop_df['track']=="Amazed"][drop_df['gap_week']==True]

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank,gap_week
6349,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,21,0,True
6666,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,22,0,True
6983,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,23,0,True
7300,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,24,0,True
7617,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,25,0,True
7934,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,26,0,True
8251,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,27,0,True
8568,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,28,0,True
8885,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,29,0,True